# Auto detect text files and perform LF normalization
* text=auto
Web Development Basics:
what I know About Web Development is the Process Where we Create Websites or Web Apps through designing, coding, ... etc.
web development plays an essential role in connecting devices, managing data, and providing a user interface for consumers
HTML Knowledge:
HTML stands for HyperText Markup Language. It is the Language for the documents designed to be displayed in a web browser
CSS Understanding:
Cascading Style Sheets Language is used for the presentaion, layout & Styling the Web Page Written in HTML
Introduction to JavaScript:
JS is a programming language alongside CSS and HTML. it is used to maintain the software's functionality in the Web Systems.
React and Node.js Awareness:
to be honest I do not know Much about them.
Learning Intentions:
To Add New Skills to me and begin a new career as a software developer and establish myself